* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header__nav {
  background: #333333;
  background: -webkit-gradient(linear, left top, right top, from(#dd1818), to(#333333));
  background: linear-gradient(to right, #dd1818, #333333);
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

.contenedorNav {
  padding-right: 0;
  padding-left: 0;
}

.carruselFotos {
  padding-left: 0;
  padding-right: 0;
}

.indexCarta1 {
  border: none;
}

.indexCarta1__header {
  background: white;
}

.indexCarta1__h1 {
  font-size: 2rem;
}

.quienesSomos__h1 {
  font-size: 2rem;
  font-weight: 500;
}

.lineaTiempo {
  margin-left: 11rem;
  padding-top: 2rem;
}

.timeline_area {
  position: relative;
  z-index: 1;
}

.single-timeline-area {
  position: relative;
  z-index: 1;
  padding-left: 180px;
}

.single-timeline-area .timeline-date {
  position: absolute;
  width: 180px;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding-right: 60px;
}

.single-timeline-area .timeline-date::after {
  position: absolute;
  width: 3px;
  height: 100%;
  content: "";
  background-color: #ebebeb;
  top: 0;
  right: 30px;
  z-index: 1;
}

.single-timeline-area .timeline-date::before {
  position: absolute;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: #9D2222;
  content: "";
  top: 50%;
  right: 26px;
  z-index: 5;
  margin-top: -5.5px;
}

.single-timeline-area .timeline-date p {
  margin-bottom: 0;
  color: #020710;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 500;
}

.single-timeline-area .single-timeline-content {
  position: relative;
  z-index: 1;
  padding: 30px 30px 25px;
  border-radius: 6px;
  margin-bottom: 15px;
  margin-top: 15px;
  -webkit-box-shadow: 0 0.25rem 1rem 0 rgba(47, 91, 234, 0.125);
  box-shadow: 0 0.25rem 1rem 0 rgba(47, 91, 234, 0.125);
  border: 1px solid #ebebeb;
}

.single-timeline-area .single-timeline-content .timeline-icon {
  width: 30px;
  height: 30px;
  background-color: #9D2222;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 30px;
  flex: 0 0 30px;
  text-align: center;
  max-width: 30px;
  border-radius: 50%;
  margin-right: 15px;
}

.single-timeline-area .single-timeline-content .timeline-icon i {
  color: #ffffff;
  line-height: 30px;
}

.single-timeline-area .single-timeline-content .timeline-text p {
  font-size: 13px;
  margin-bottom: 0;
}

.nuestraFlota__img {
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.nuestraFlota__img:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.servicio__h1 {
  font-size: 1rem;
  color: #6c757d;
}

.contacto__h1 {
  font-size: 1.5rem;
}

.contacto__carta {
  padding: 0;
  border: none;
}

/* MOBILE S */
@media screen and (min-width: 319px) and (max-width: 374px) {
  .lineaTiempo {
    margin-left: 0;
    padding-top: 0;
  }
  .quienesSomos__h1 {
    font-size: 1.3rem;
  }
  .single-timeline-area .timeline-date {
    width: 90px;
  }
  .single-timeline-content {
    padding: 0;
  }
  .single-timeline-area {
    padding-left: 90px;
  }
}

/*Mobile M*/
@media screen and (min-width: 375px) and (max-width: 424px) {
  .contacto__datos {
    margin: 2rem;
  }
  .quienesSomosMV {
    margin: 2rem;
  }
  .indexHistoria__carta {
    margin-left: 4rem;
  }
  .lineaTiempo {
    margin-left: 0;
    padding-top: 0;
  }
  .quienesSomos__h1 {
    font-size: 1.3rem;
  }
  .single-timeline-area .timeline-date {
    width: 110px;
  }
  .single-timeline-area {
    padding-left: 120px;
  }
}

/*Mobile L*/
@media screen and (min-width: 425px) and (max-width: 767.98px) {
  .contacto__datos {
    margin: 3rem;
  }
  .quienesSomosMV {
    margin: 3rem;
  }
  .indexHistoria__carta {
    margin-left: 4.7rem;
  }
  .lineaTiempo {
    margin-left: 0;
    padding-top: 0;
  }
  .quienesSomos__h1 {
    font-size: 1.3rem;
  }
  .single-timeline-area .timeline-date {
    width: 110px;
  }
  .single-timeline-area {
    padding-left: 120px;
  }
}

/*Tablet*/
@media screen and (min-width: 768px) and (max-width: 1023.98px) {
  .lineaTiempo {
    margin-left: 0;
    padding-top: 0;
  }
}

/*TABLET GRANDE */
/* LAPTOP */
/*# sourceMappingURL=main.css.map */