
.indexBanner {
    &__texto{
        font-weight: bold;
    }

}

.indexHistoria {
    padding-top: 2rem;
    &__texto {
        font-style: italic;
        font-size: larger;
        padding-top: 3rem;
        font-weight: bold;
    }
}

.indexCuadros {
   padding-top: 1rem;
}

.footerIndex {
    border: 1px solid black;
    
}