/* MOBILE S */
@media screen and (min-width:319px) and (max-width:374px) {
}
/*Mobile M*/
@media screen and (min-width:375px) and (max-width:424px) {
    .indexCuadros{
        margin: 2rem;
    }
    .contacto__datos{
        margin: 2rem;
    }
    .quienesSomosMV{
        margin: 2rem;
    }
}
/*Mobile L*/
@media screen and (min-width:425px) and (max-width:767.98px){
    .indexCuadros{
        margin: 3rem;
    }
    .contacto__datos{
        margin: 3rem;
    }
    .quienesSomosMV{
        margin: 3rem;
    }
}
/*Tablet*/
@media screen and (min-width:768px) and (max-width:1023.98px){
}
/*TABLET GRANDE */ 
@media screen and (min-width:1024px) and (max-width:1299.98px){
}
/* LAPTOP */
@media screen and (min-width:1300px) and (max-width:1500px){
}