/* MOBILE S */
@media screen and (min-width:319px) and (max-width:374px) {
    .lineaTiempo{
        margin-left: 0;
        padding-top: 0;
    }
    .quienesSomos__h1{
        font-size: 1.3rem;
    }
    .single-timeline-area .timeline-date{
        width: 90px;
    }
    .single-timeline-content{
        padding: 0;
    }
    .single-timeline-area{
        padding-left: 90px;
    }
   }

/*Mobile M*/
@media screen and (min-width:375px) and (max-width:424px) {
    .contacto__datos{
        margin: 2rem;
    }
    .quienesSomosMV{
        margin: 2rem;
    }
    .indexHistoria__carta{
        margin-left: 4rem;
    }
    .lineaTiempo{
        margin-left: 0;
        padding-top: 0;
    }
    .quienesSomos__h1{
        font-size: 1.3rem;
    }
    .single-timeline-area .timeline-date{
        width: 110px;
    }
    .single-timeline-area{
        padding-left: 120px;
    }
}
/*Mobile L*/
@media screen and (min-width:425px) and (max-width:767.98px){
    .contacto__datos{
        margin: 3rem;
    }
    .quienesSomosMV{
        margin: 3rem;
    }
    .indexHistoria__carta{
        margin-left: 4.7rem;
    }
    .lineaTiempo{
        margin-left: 0;
        padding-top: 0;
    }
    .quienesSomos__h1{
        font-size: 1.3rem;
    }
    .single-timeline-area .timeline-date{
        width: 110px;
    }
    .single-timeline-area{
        padding-left: 120px;
    }
}
/*Tablet*/
@media screen and (min-width:768px) and (max-width:1023.98px){
    .lineaTiempo{
        margin-left: 0;
        padding-top: 0;
    }
}

/*TABLET GRANDE */ 
@media screen and (min-width:1024px) and (max-width:1299.98px){
}
/* LAPTOP */
@media screen and (min-width:1300px) and (max-width:1500px){

}